[user]
	email = jaeho2025@gmail.com
	name = Jaeho Cho
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
[pull]
	rebase = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = !git fetch && git status
	unstage = reset HEAD --
    lg = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	update-config = "!curl -s 'https://raw.githubusercontent.com/jaehho/jaehho/refs/heads/main/.gitconfig' -o ~/.gitconfig"
[push]
	autoSetupRemote = true
